logger:
  level: "debug"
  encoding: "console"
  encoder:
    message_key: "message"
    level_key: "level"
    time_key: "timestamp"
    name_key: "logger"
    caller_key: "caller"
    function_key: ""
    stacktrace_key: "stacktrace"
    line_ending: "\n"
    level_encoder: "capital"
    time_encoder: "rfc3339"
    duration_encoder: "string"
    caller_encoder: "short"
    name_encoder: "full"
    console_separator: "\t"
  initial_fields: ~

beanstalk:
  address: "127.0.0.1:11300"
  pool:
    capacity: 3

http:
  listen_addresses: ":9999"
  read_timeout: 30
  write_timeout: 30
  idle_timeout: 60
  cors:
    allow_origins: ["*"]
    allow_methods: ["HEAD", "OPTIONS", "GET", "POST", "PUT", "PATCH", "DELETE"]
    allow_headers: ["*"]
    allow_credentials: false
